<p>
  <mat-toolbar class="header-settings">
    <img src="../../../assets/Images/planet-earth.png" alt="Logo" class="logo">
    <button routerLink="/" class="applogo">
      <span>CosmoGuru</span>
    </button>
    <span class="example-spacer"></span>
    <button routerLink="/login-page" class="applogo">
      <img src="../../../assets/Images/login-icon.png" alt="Login" class="LoginBtn">
    </button>
    <button class="github-icon" aria-label="GitHub">
      <a href="https://github.com/NikStork/AngularPractice">
        <img src="../../../assets/Images/icons8-github-80.png" alt="My GitHub" class="GitHub">
      </a>
    </button>
  </mat-toolbar>
</p>

