<div class="forms">
  <div class="welcome-login">
    <img src="assets/Images/astronaut.png" alt="astronaut" class="image_astronaut">
    <span class="welcome-star">Welcome! Complete the authorization and join an exciting adventure through the expanses of space!</span>
  </div>

  <div class="login-forms">
    <form autocomplete='off' class='form'>
      <div class='control'>
        <h1>
          Fill out the form
        </h1>
      </div>
      <div class='control block-cube block-input'>
        <input name='username' placeholder='Username' type='text'>
        <div class='bg-top'>
          <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
          <div class='bg-inner'></div>
        </div>
        <div class='bg'>
          <div class='bg-inner'></div>
        </div>
      </div>
      <div class='control block-cube block-input'>
        <input name='password' placeholder='Password' type='password'>
        <div class='bg-top'>
          <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
          <div class='bg-inner'></div>
        </div>
        <div class='bg'>
          <div class='bg-inner'></div>
        </div>
      </div>
      <button class='btn block-cube block-cube-hover' type='button'>
        <div class='bg-top'>
          <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
          <div class='bg-inner'></div>
        </div>
        <div class='bg'>
          <div class='bg-inner'></div>
        </div>
        <div class='text'>
          Log In
        </div>
      </button>
    </form>
  </div>
</div>
