<div class="cards">
  <div class="cta">
    <img src='../../../assets/Images/union.jpg' alt='union'>
    <div class="cta__text-column">
      <h2>Soyuz - Launch Vehicle</h2>
      <p>Soviet three-stage medium-class launch vehicle from the R-7 family</p>
      <a href="#">Read all about it.</a>
    </div>
  </div>
  <div class="cta">
    <img src='../../../assets/Images/UserView-1.jpg' alt='falcon 9'>
    <div class="cta__text-column">
      <h2>Falcon 9</h2>
      <p>The Falcon 9 consists of two stages and uses RP-1 kerosene and liquid oxygen as fuel components.</p>
      <a href="#">Read all about it.</a>
    </div>
  </div>
  <div class="cta">
    <img src='../../../assets/Images/falconheavy3k.jpg' alt='falcon heavy'>
    <div class="cta__text-column">
      <h2>Falcon Heavy</h2>
      <p>A superheavy class launch vehicle with the possibility of reuse of the first stage and side boosters, designed and manufactured by SpaceX.</p>
      <a href="#">Read all about it.</a>
    </div>
  </div>
</div>
